:root {
  letter-spacing: 0.05em;
}

.page-title {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 4rem;
}

.artifacts-dropdown {
  margin-bottom: 4rem;
}

.artifact-link {
  font-size: 1rem;
}

.audio-controls {
  margin-bottom: 4rem;
}

.swiffy-slider {
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.page-description > p {
  font-size: 1.5rem;
  color: #eee;
}

span.material-symbols-outlined {
  vertical-align: bottom;
  padding-bottom: 0.1em;
  margin-right: 0.5rem;
}
