{{ define "main" }}
      <div class="page-title-container">
        <h2 class="page-title">{{ .Title }}</h2>
      </div>

			<details>
				<summary>Artifacts</summary>
			{{ range .RegularPagesRecursive.ByTitle }}
				<div><a href="{{ .RelPermalink }}">{{ .Title }}</a></div>
			{{ end }}
			</details>


      {{ with .Resources.ByType "audio" }}
      <div style="text-align: center">
        {{ range . }}
        <audio class="audio" controls src="{{ .Permalink }}"></audio>
        {{ end }}
      </div>
      {{ end }}


      {{ with .Resources.ByType "image" }}
      <div class="carousel" data-flickity='{ "imagesLoaded": true, "percentPosition": false, "wrapAround": true, "pageDots": true, "prevNextButtons": true }'>
        {{ range . }}
        <img src="{{ .RelPermalink }}" alt="alt">
        {{ end }}
      </div>
      {{ end }}

      <div class="page-description">
         {{ .Content }}
      </div>
{{ end }}
