.v-application {
  background: rgb(79,79,79);
  background: linear-gradient(200deg, rgba(79,79,79,1) 35%, rgba(36,36,36,1) 100%);
}

.v-card {
  border: 1px solid #333;
}

.nav-bar-title {
  font-family: "Montserrat", sans-serif !important;
  font-optical-sizing: auto !important;
  font-style: normal !important;
  font-weight: bold;
  font-size: 1.8rem !important;
}


.artifact-title {
  font-family: "Montserrat", sans-serif !important;
  font-optical-sizing: auto !important;
  font-style: normal !important;
  font-weight: bold;
  letter-spacing: 0.2em !important;
}

.artifact-description {
  font-family: "Montserrat", sans-serif !important;
  font-optical-sizing: auto !important;
  font-style: normal !important;
  font-size: 1.8rem !important;
}
