<!DOCTYPE html>
<html lang="en" data-theme="dark">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body>
    <header>
      {{ partial "display-header.html" . }}
    </header>

    <main id="content" class="container">
      {{ block "main" . }}{{ end }}
    </main>

    <div class="container footer-container">
      <div class="footer-grid">
        <div>
          <div><span class="material-symbols-outlined">pin_drop</span><span class="footer-item-title">Location</span></div>
          <div> Brandon Armoury</div>
          <div>1116 Victoria Ave</div>
          <div>Brandon, MB</div>
          <div>R7A 1B2</div>
        </div>
        <div>
          <div><span class="material-symbols-outlined">schedule</span><span class="footer-item-title">Hours</span></div>
          <div>FIXME</div>
        </div>
      </div>
    </div>


    <div class="container">
      <div class="footer-grid">
        <div>
          <div><span class="material-symbols-outlined">call</span><span class="footer-item-title">Armoury</span></div>
          <div>26th Field Regiment</div>
          <div>RCA</div>
          <div><a class="contrast" href="tel:2047282559">204.728.2559</a></div>
        </div>
        <div>
          <div><span class="material-symbols-outlined">call</span><span class="footer-item-title">Curator</span></div>
          <div>Edd. McArthur</div>
          <div><a class="contrast" href="tel:2047174579">204.717.4579</a></div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="footer-grid">
        <div>
          <div><span class="material-symbols-outlined">mail</span><span class="footer-item-title">Curator</span></div>
          <div><a class="contrast" href="mailto:26fdregCurator@wcgwave.ca">Edd. McArthur</a></div>
        </div>
        <div>
          <div><span class="material-symbols-outlined">mail</span><span class="footer-item-title">Librarian</span></div>
          <div><a class="contrast" href="mailto:26fdlibrary@wcgwave.ca">Sandra Armstrong</a></div>
        </div>
        <div>
          <div><span class="material-symbols-outlined">mail</span><span class="footer-item-title">Research</span></div>
          <div><a class="contrast" href="mailto:krasicki@mymts.net">Ted Krasicki</a></div>
        </div>
      </div>
    </div>
  </body>
</html>

