html, body {
  font-size: 100% !important;
}

#content {
  margin-bottom: 0px;
  border-bottom: 1px solid #555;
}

nav.container, .site-title-container {
  padding-bottom: 0.5rem;
}

.site-title-container {
  text-align: center;
}

.site-title {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1.6rem;
  font-weight: 700;
  margin: 0px;
}

.site-subtitle {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1.1rem !important;
  margin: 0px;
}


.site-title-link {
  text-decoration: none;
}

nav.container {
  border-bottom: 1px solid #555;
}

a.nav-item {
  color: #eee;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 1.1rem;
}

a.nav-item-primary {
  font-weight: 700;
}

.carousel {
  background: #EEE;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.carousel img {
  display: block;
  height: 300px;
}

@media screen and ( min-width: 768px ) {
  .carousel img {
    height: 400px;
  }
}

.flickity-page-dots .dot {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: transparent;
  border: 2px solid white;
}

.flickity-page-dots .dot.is-selected {
  background: white;
}

.page-list-container {
  margin-bottom: 3rem;
}

.page-list-preamble {
  text-align: center;
  margin-bottom: 3rem;
}

.page-title-container {
  text-align: center;
  margin-bottom: 3rem;
}

.page-title, .page-list-link {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.page-title {
  padding: 0px;
  margin: 0px;
}

.page-description {
  font-size: 1.5rem;
}

/* https://griddy.io/ */
.container > .footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 5%;
  grid-row-gap: 2rem;
  justify-items: stretch;
  align-items: stretch;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #555;
}

.footer-category {
  text-align: center;
  font-weight: 700;
  font-size: 1.2rem;
  color: #eee;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.footer-item-title {
  color: #eee;
  font-weight: 700;
}

span.material-symbols-outlined {
  vertical-align: bottom;
  padding-bottom: 0.1em;
  margin-right: 0.5rem;
}
