nav.container {
  padding-bottom: 0.5em;
  border-bottom: 1px solid #333;}

a.nav-item {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.1em;
}

a.nav-item-primary {
  font-weight: 700;
}


.carousel {
  background: #EEE;
  margin-top: 3em;
  margin-bottom: 3em;
}

.carousel img {
  display: block;
  height: 300px;
}

@media screen and ( min-width: 768px ) {
  .carousel img {
    height: 400px;
  }
}

.flickity-page-dots .dot {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: transparent;
  border: 2px solid white;
}

.flickity-page-dots .dot.is-selected {
  background: white;
}

.artifact-title-container {
  text-align: center;
  margin-bottom: 3em;
}

.artifact-title {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.artifact-description {
  font-size: 1.5em;
}
