<!DOCTYPE html>
<html lang="en" data-theme="dark">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>XII Manitoba Dragoons and 26 Field Regiment Museum</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2.0.6/css/pico.min.css" />

  <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css" />
  <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/flickity-fullscreen@1/fullscreen.css">
  <script src="https://unpkg.com/flickity-fullscreen@1/fullscreen.js"></script>

  <link rel="stylesheet" href="{{ "css/theme.css"|url }}">
</head>

<body>
  <main id="content" class="container">

    {% if page | is_display %}
    <div class="page-title-container">
      <h2 class="page-title">{{ page.meta.title }}</h2>
    </div>

    <details>
      <summary class="artifacts-dropdown-title">Artifacts ☰</summary>
      {% for artifact in page | get_artifacts %}
      <div><a href="{{ artifact.url }}" class="artifact-button" role="button">{{ artifact.title }}</a></div>
      {% endfor %}
    </details>

    {% endif %}

    {% if page | is_artifact %}
    <div class="page-title-container">      
      <h2 class="page-title">{{ page.meta.title }}</h2>
      <h5 class="page-title"><a class="breadcrumb-link" href="{{ (page | get_display).url }}">{{ (page | get_display).title }}</a></h5>
    </div>
    {% endif %}

    {% if page | get_audio %}
      <div style="text-align: center">
        <audio class="audio" controls src="audio.mp3"></audio>
      </div>
    {% endif %}

    {% if page | get_images %}
    <div class="carousel" data-flickity='{ "imagesLoaded": true, "percentPosition": false, "wrapAround": true, "pageDots": true, "prevNextButtons": true, "fullscreen": true }'>
    {% for image_url in page | get_images %}
      <img src="{{ image_url }}"></img>
    {% endfor %}
    </div>
    {% endif %}

    <div class="page-description">
    {% block content %}
    {{ page.content }}
    {% endblock %}
    </div>
    
  </main>
</body>
</html
