<!DOCTYPE html>
<html lang="en" data-theme="dark">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>XII Manitoba Dragoons and 26 Field Regiment Museum</title>

  <link rel="stylesheet" href="{{ "css/pico.min.css"|url }}" />

  <script src="{{ 'js/swiffy-slider.min.js' | url }}"></script>
  <link rel="stylesheet" href="{{ 'css/swiffy-slider.min.css' | url }}">
  
  <link rel="stylesheet" href="{{ 'css/theme.css' | url }}">
</head>

<body>
  <main id="content" class="container">

    <h2 class="page-title">{{ page.meta.title }}</h2>

    {% if page | is_display %}
    <!-- ARTIFACTS DROPDOWN -->
    <details class="dropdown artifacts-dropdown">
      <summary role="button" class="secondary outline">Explore</summary>
      <ul>
      {% for artifact in page | get_artifacts %}
        <li><a href="{{ artifact.url }}" class="artifact-link">{{ artifact.title }}</a></li>
      {% endfor %}
      </ul>
    </details>
    {% endif %}

    {% if page | get_images %}
    <!-- CAROUSEL -->
    <div class="swiffy-slider {{ 'slider-nav-visible slider-nav-touch slider-indicators-round' if (page | get_images | length > 1) else '' }} slider-nav-animation slider-nav-animation-fadein ">
        <ul class="slider-container">
          {% for image_url in page | get_images %}
             <li><img src="{{ image_url }}" style="max-width: 100%;height: auto;"></li>
          {% endfor %}
        </ul>

    {% if (page | get_images | length > 1) %}
        <button type="button" class="slider-nav"></button>
        <button type="button" class="slider-nav slider-nav-next"></button>

        <div class="slider-indicators">
            <button class="active"></button>
            <button></button>
            <button></button>
        </div>
    {% endif %}
    </div>
    {% endif %}    
    <!-- END-CAROUSEL -->

    {% if page | get_audio %}
    <!-- AUDIO -->
    <div style="text-align: center" class="audio-controls">
      <audio class="audio" controls src="audio.mp3"></audio>
    </div>
    {% endif %}

    <div class="page-description">
    {% block content %}
    {{ page.content }}
    {% endblock %}
    </div>
    
  </main>

</body>
</html
