<!DOCTYPE html>
<html lang="en" data-theme="dark">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>XII Manitoba Dragoons and 26 Field Regiment Museum</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2.0.6/css/pico.min.css" />

  <script src="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/js/swiffy-slider.min.js" crossorigin="anonymous" defer></script>
  <link href="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/css/swiffy-slider.min.css" rel="stylesheet" crossorigin="anonymous">
  
  <link rel="stylesheet" href="{{ "css/theme.css"|url }}">
</head>

<body>
  <main id="content" class="container">

    {% if page | is_display %}
    <div class="page-title-container">
      <h2 class="page-title">{{ page.meta.title }}</h2>
    </div>

    <details>
      <summary class="artifacts-dropdown-title">Artifacts ☰</summary>
      {% for artifact in page | get_artifacts %}
      <div><a href="{{ artifact.url }}" class="artifact-button" role="button">{{ artifact.title }}</a></div>
      {% endfor %}
    </details>

    {% endif %}

    {% if page | is_artifact %}
    <div class="page-title-container">      
      <h2 class="page-title">{{ page.meta.title }}</h2>
      <h5 class="page-title"><a class="breadcrumb-link" href="{{ (page | get_display).url }}">{{ (page | get_display).title }}</a></h5>
    </div>
    {% endif %}

    {% if page | get_audio %}
      <div style="text-align: center">
        <audio class="audio" controls src="audio.mp3"></audio>
      </div>
    {% endif %}

    {% if page | get_images %}
    <div class="swiffy-slider slider-nav-visible slider-nav-touch slider-indicators-round slider-nav-animation slider-nav-animation-fadein ">
        <ul class="slider-container">
          {% for image_url in page | get_images %}
             <li><img src="{{ image_url }}" style="max-width: 100%;height: auto;"></li>
          {% endfor %}
        </ul>

        <button type="button" class="slider-nav"></button>
        <button type="button" class="slider-nav slider-nav-next"></button>

        <div class="slider-indicators">
            <button class="active"></button>
            <button></button>
            <button></button>
        </div>
    </div>
    {% endif %}    

    <div class="page-description">
    {% block content %}
    {{ page.content }}
    {% endblock %}
    </div>
    
  </main>

</body>
</html
