<div class="container site-title-container">
    <a class="contrast site-title-link" href="/">
      <p class="site-title">Regimental Museum</p>
      <p class="site-subtitle">XII Manitoba Dragoons &</p>
      <p class="site-subtitle">26th Field RCA</p>
    </a>
</div>

<nav class="container">
  <ul>
    <li><a class="nav-item contrast" href="/news/">News</a></li>
  </ul>
  <ul>
    <li><a class="nav-item contrast" href="/artifacts/">Artifacts</a></li>
  </ul>
  <ul>
    <li><a class="nav-item contrast" href="/contact">Contact</a></li>
  </ul>
</nav>

