<nav class="container">
  <ul>
    <li><a class="nav-item nav-item-primary contrast" href="/">XII Manitoba Dragoons & 26 Field Regiment Museum</a></li>
  </ul>
  <ul>
    <li>
      <details class="dropdown">
        <summary class="dropdown-title">
          Menu
        </summary>
        <ul dir="rtl">
          <li><a class="dropdown-item" href="/">Home</a></li>
          <li><a class="dropdown-item" href="/news/">News</a></li>
          <li><a class="dropdown-item" href="/artifacts/">Artifacts</a></li>
          <li><a class="dropdown-item" href="/about">About</a></li>
        </ul>
      </details>
    </li>
  </ul>
</nav>

