---
import '../styles/global.css';
import TopNav from '../components/TopNav.vue';
import Carousel from '../components/Carousel.vue';
const { frontmatter } = Astro.props;
const artifact = Astro.url.pathname.split('/').at(-1);
---

<!DOCTYPE html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="generator" content={Astro.generator} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>26 RCA Museum</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2.0.6/css/pico.min.css" />

    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
  </head>

  <body>
    <header>
      <TopNav />
    </header>

    <main id="content" class="container">
      <div class="artifact-title">
        <h3>{frontmatter.title}</h3>
      </div>

      <Carousel client:only="vue" artifact={artifact} />

      <div>
        <slot />
      </div>
    </main>
  </body>
</html>
