---
import Carousel from '../components/Carousel.vue';
const { frontmatter } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <Carousel title={frontmatter.title} />
    <article>

      <slot />
    </article>
  </body>
</html>
