---
import Carousel from '../components/Carousel.vue';
const { frontmatter } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="generator" content={Astro.generator} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="dark" />
    <title>26 RCA Museum</title>
    <!-- Pico.css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2.0.6/css/pico.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/@picocss/pico@2.0.6/css/postcss.config.min.js"></script>
  </head>

  <body>
    <header class="container">
      <nav>
        <ul>
          <li><strong>26 RCA Museum</strong></li>
        </ul>
        <ul>
          <li><a href="#">Artifacts</a></li>
          <li><a href="#">About</a></li>
        </ul>
      </nav>
    </header>

    <main class="container">
      <section id="title">
        <slot />
      </section>
    </main>

  </body>
</html>
