{{ define "main" }}

  <div class="page-title-container">
    <h2 class="page-title">Contact Us</h2>
  </div>

  <div class="grid">
    <div class="contact-items-container">
      <div class="contact-item"><span class="material-symbols-outlined">pin_drop</span><a href="https://maps.app.goo.gl/MrcL2nKT1GxWLiqm7">1116 Victoria Ave, R7A 1B2</a></div>
      <div class="contact-item"><span class="material-symbols-outlined">call</span><a href="tel:2047174579">Edd. McArthur (Curator)</a></div>
      <div class="contact-item"><span class="material-symbols-outlined">call</span><a href="tel:18887282559">Regimental Phone</a></div>
      <div class="contact-item"><span class="material-symbols-outlined">mail</span><a href="mailto:26fdregCurator@wcgwave.ca">Edd. McArthur (Curator)</a></div>
      <div class="contact-item"><span class="material-symbols-outlined">mail</span><a href="mailto:26fdlibrary@wcgwave.ca">Sandra Armstrong (Librarian)</a></div>
      <div class="contact-item"><span class="material-symbols-outlined">mail</span><a href="mailto:krasicki@mymts.net">Ted Krasicki (Research)</a></div>
    </div>
  </div>

{{ end }}
